In [155]:
import numpy as np 
import pandas as pd

In [167]:
Clean = pd.read_csv('refering_example/Hackathon_Working_Data.csv')

In [169]:
clean2 = Clean

In [ ]:
cols = ['GRP','SGRP','SSGRP','CMP','MBRD','BRD']

In [8]:
tb_edited= Clean[cols]

In [9]:
tb_edited

,GRP,SGRP,SSGRP,CMP,MBRD,BRD
0,BUTTER MARGR (4/94),BUTTER,SALTED,G C M M F,AMUL,AMUL
1,CONFECTIONERY - ECLAIRS,CONFECTIONERY - ECLAIRS,CONFECTIONERY - ECLAIRS,PARLE PRODS,MELODY,MELODY CHOCOLATY
2,CHOCOLATE,CHOCOLATE PANNED,CHOCOLATE PANNED,MONDELEZ INTERNATIONAL,CADBURY SHOTS,CADBURY SHOTS
3,PACKAGED TEA,MAIN PACKS,MAIN PACKS,GUJ TEA PROCESSORS,WAGH BAKRI,WAGH BAKRI INSTANT
4,ALL IODISED SALT,POWDERED SALT,POWDERED SALT,TATA CHEM,TATA,TATA SALT
...,...,...,...,...,...,...
26980,BISCUITS - CORE & NON CORE,NON-SALT CRACKER,NON-SALT CRACKER,PARLE PRODS,PARLE KRACK JACK,PARLE KRACK JACK
26981,BISCUITS - CORE & NON CORE,MARIE,MARIE,PARLE PRODS,PARLE MARIE,PARLE MARIE
26982,BISCUITS - CORE & NON CORE,GLUCOSE,GLUCOSE,PARLE PRODS,PARLE-G,PARLE-G
26983,CLEANERS - GLASS,LIQUIDS,LIQUIDS,RECKITT BENCKISER,COLIN,COLIN
26984,BISCUITS - CORE & NON CORE,SWEET/COOKIES,SWEET/COOKIES,SAJ INDS,BISK FARM,BISK FARM JUST GINGER

In [11]:
# No_of_examples = len(tb_edited)

In [177]:
def Eraser( df , x ):
    
    No_of_examples = len(df)
    amount_tbe = No_of_examples * 0.01 * (np.log(x**3 + 1) / np.log(np.e**(-1) + 1))
    # amount_tbe = np.floor(amount_tbe)
    # return amount_tbe
    index_del = []
    i = 0
    while(i < int(amount_tbe)):    
        r = np.random.randint(No_of_examples)
        if r not in index_del:
            index_del.append(r)
            i+=1

    for example in index_del:
        arr = row_wise_irregularity(df)
        for field in arr:
            df.loc[[example],field] = None
    

    return df

In [178]:
Eraser(clean2, 100)

,MONTH,STORECODE,DAY,BILL_ID,BILL_AMT,QTY,VALUE,PRICE,GRP,SGRP,SSGRP,CMP,MBRD,BRD
0,M1,N1,4.0,T375,225.0,1.0,225.0,225.0,BUTTER MARGR (4/94),BUTTER,SALTED,G C M M F,AMUL,AMUL
1,M1,N1,4.0,T379,95.0,1.0,95.0,95.0,CONFECTIONERY - ECLAIRS,CONFECTIONERY - ECLAIRS,CONFECTIONERY - ECLAIRS,PARLE PRODS,MELODY,MELODY CHOCOLATY
2,M1,N1,4.0,T381,10.0,1.0,10.0,10.0,CHOCOLATE,CHOCOLATE PANNED,CHOCOLATE PANNED,MONDELEZ INTERNATIONAL,CADBURY SHOTS,CADBURY SHOTS
3,M1,N1,4.0,T382,108.0,1.0,108.0,108.0,None,None,None,None,None,None
4,M1,N1,4.0,T384,19.0,1.0,19.0,19.0,ALL IODISED SALT,POWDERED SALT,POWDERED SALT,TATA CHEM,TATA,TATA SALT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26980,M3,N10,31.0,T5999,10.0,1.0,10.0,10.0,BISCUITS - CORE & NON CORE,NON-SALT CRACKER,NON-SALT CRACKER,PARLE PRODS,PARLE KRACK JACK,PARLE KRACK JACK
26981,M3,N10,31.0,None,88.0,1.0,NaN,10.0,BISCUITS - CORE & NON CORE,MARIE,MARIE,PARLE PRODS,PARLE MARIE,None
26982,M3,N10,31.0,T6007,88.0,2.0,20.0,10.0,BISCUITS - CORE & NON CORE,GLUCOSE,GLUCOSE,PARLE PRODS,PARLE-G,PARLE-G
26983,M3,None,NaN,T6007,88.0,1.0,58.0,58.0,None,None,LIQUIDS,RECKITT BENCKISER,None,None
26984,M3,N10,31.0,T6013,15.0,1.0,15.0,15.0,BISCUITS - CORE & NON CORE,SWEET/COOKIES,SWEET/COOKIES,SAJ INDS,BISK FARM,BISK FARM JUST GINGER

In [103]:
Clean.columns

Index(['MONTH', 'STORECODE', 'DAY', 'BILL_ID', 'BILL_AMT', 'QTY', 'VALUE',
       'PRICE', 'GRP', 'SGRP', 'SSGRP', 'CMP', 'MBRD', 'BRD'],
      dtype='object')

In [95]:
len(b[0])

11900

In [100]:
np.random.rand()

0.509809303272613

In [129]:
def row_wise_irregularity(df):
    arr = np.random.choice(df.columns , np.random.randint(len(df.columns)) + 1, replace = True)
    return arr

In [127]:
np.random.choice(Clean.columns , np.random.randint(len(Clean.columns)) + 1, replace = True)

array(['STORECODE', 'DAY', 'VALUE', 'VALUE', 'PRICE', 'DAY', 'SSGRP',
       'SGRP', 'SSGRP', 'SSGRP'], dtype=object)

In [131]:
row_wise_irregularity(Clean)

array(['PRICE', 'GRP', 'GRP', 'VALUE', 'MONTH', 'CMP', 'QTY', 'DAY',
       'BILL_ID', 'BILL_ID', 'BRD', 'BILL_ID', 'PRICE'], dtype=object)

In [147]:
# arr = row_wise_irregularity(Clean)

# for field in arr:
#     clean2.loc[[3],field] = 
#     # print(field)

In [172]:
Clean

,MONTH,STORECODE,DAY,BILL_ID,BILL_AMT,QTY,VALUE,PRICE,GRP,SGRP,SSGRP,CMP,MBRD,BRD
0,M1,N1,4,T375,225.0,1.0,225.0,225.0,BUTTER MARGR (4/94),BUTTER,SALTED,G C M M F,AMUL,AMUL
1,M1,N1,4,T379,95.0,1.0,95.0,95.0,CONFECTIONERY - ECLAIRS,CONFECTIONERY - ECLAIRS,CONFECTIONERY - ECLAIRS,PARLE PRODS,MELODY,MELODY CHOCOLATY
2,M1,N1,4,T381,10.0,1.0,10.0,10.0,CHOCOLATE,CHOCOLATE PANNED,CHOCOLATE PANNED,MONDELEZ INTERNATIONAL,CADBURY SHOTS,CADBURY SHOTS
3,M1,N1,4,T382,108.0,1.0,108.0,108.0,PACKAGED TEA,MAIN PACKS,MAIN PACKS,GUJ TEA PROCESSORS,WAGH BAKRI,WAGH BAKRI INSTANT
4,M1,N1,4,T384,19.0,1.0,19.0,19.0,ALL IODISED SALT,POWDERED SALT,POWDERED SALT,TATA CHEM,TATA,TATA SALT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26980,M3,N10,31,T5999,10.0,1.0,10.0,10.0,BISCUITS - CORE & NON CORE,NON-SALT CRACKER,NON-SALT CRACKER,PARLE PRODS,PARLE KRACK JACK,PARLE KRACK JACK
26981,M3,N10,31,T6007,88.0,1.0,10.0,10.0,BISCUITS - CORE & NON CORE,MARIE,MARIE,PARLE PRODS,PARLE MARIE,PARLE MARIE
26982,M3,N10,31,T6007,88.0,2.0,20.0,10.0,BISCUITS - CORE & NON CORE,GLUCOSE,GLUCOSE,PARLE PRODS,PARLE-G,PARLE-G
26983,M3,N10,31,T6007,88.0,1.0,58.0,58.0,CLEANERS - GLASS,LIQUIDS,LIQUIDS,RECKITT BENCKISER,COLIN,COLIN
26984,M3,N10,31,T6013,15.0,1.0,15.0,15.0,BISCUITS - CORE & NON CORE,SWEET/COOKIES,SWEET/COOKIES,SAJ INDS,BISK FARM,BISK FARM JUST GINGER

NameError: name 'nan' is not defined

In [182]:
clean2.isnull()

,MONTH,STORECODE,DAY,BILL_ID,BILL_AMT,QTY,VALUE,PRICE,GRP,SGRP,SSGRP,CMP,MBRD,BRD
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26980,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26981,False,False,False,True,False,False,True,False,False,False,False,False,False,True
26982,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26983,False,True,True,False,False,False,False,False,True,True,False,False,True,True
26984,False,False,False,False,False,False,False,False,False,False,False,False,False,False